body {
  background: linear-gradient(90deg, #74ebd5 0, #9face6);
  font-family: Georgia, Times New Roman, Times, serif;

  .playfair-display-header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-style: normal;
  }
}

h1 {
  font-family: "Birthstone Bounce", cursive;
  font-size: 60px;
}
.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.3);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}
