body {
  background: linear-gradient(90deg, #74ebd5 0, #9face6);
  font-family: Georgia, Times New Roman, Times, serif;

  .playfair-display-header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-style: normal;
  }
}

a {
  color: #885df1;
}

.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.3);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

header {
  padding: 0 0 20px 0;
}

.search-form-input {
  background: linear-gradient(90deg, #74ebd5 0, #9face6);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background: #885df1;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-family: "Birthstone Bounce", cursive;
  font-size: 70px;
  line-height: 80px;
  margin-top: 15px;
  margin-right: 4px;
}

.weather-app-details {
  color: rgba(39, 33, 66, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.weather-app-details strong {
  color: #9430f1;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 2fr);
  margin: 10px 0;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
}

.weather-app-unit {
  font-size: 28px;
  margin-top: 30px;
}

.real-feel-container {
  display: flex;
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: 600;
  margin-top: -20px;
}

.real-feel-text {
  margin-right: 7px;
  margin-left: 65px;
}

.real-feel-temperature {
  font-size: 30px;
  margin-right: 2px;
  margin-top: 3px;
}

.real-feel-unit {
  font-size: 14px;
  margin-top: 10px;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 40px 0 0 0;
  text-align: center;
}
