body {
  background: linear-gradient(90deg, #74ebd5 0, #9face6);
  font-family: Georgia, Times New Roman, Times, serif;

  .playfair-display-header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-style: normal;
  }
}

a {
  color: #885df1;
}
h1 {
  font-family: "Birthstone Bounce", cursive;
  font-size: 60px;
}
.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.3);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

header {
  padding: 0 0 20px 0;
}

.search-form-input {
  background: linear-gradient(90deg, #74ebd5 0, #9face6);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background: #885df1;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 40px 0 0 0;
  text-align: center;
}
